.navbar {
  .navbar-nav {
    li {
      span {
        font-size: 18px;
        font-weight: 300;
      }
    }
  }
}

.section-details-content {
  .card-details {
    .attendee {
      thead,
      tbody {
        font-size: 18px;
        color: #122c64;
      }

      thead {
        font-weight: 200;
      }

      tbody {
        font-weight: 400;

        a {
          color: #122c64;
        }
      }
    }

    .invite-member {
      h2 {
        font-size: 20px;
        font-weight: 600;
        margin-top: 50px;
      }
    }

    form {
      input,
      select {
        color: #122c64;
      }
    }

    .disclaimer-heading {
      font-size: 14px;
      font-weight: 600;
      margin: 20px 0 4px 0;
    }

    .disclaimer {
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 20px;
    }

    .gj-datepicker {
      .datepicker {
        border-right: 0;
      }

      .input-group-append {
        .btn {
          padding-right: 30px;
        }
      }
    }

    .btn-add-now {
      background-color: #122c64;
      color: white;
      font-size: 18px;

      &:hover {
        background-color: #29498f;
        color: #ffffff;
      }
    }

    .trip-information {
      tr {
        .custom-text {
          color: #122c64;
          font-weight: 600;

          span {
            color: #fb8529;
          }
        }
      }
    }

    .payment-instruction {
      font-size: 14px;
      font-weight: 300;
    }

    .bank {
      .bank-item {
        display: flex;

        .bank-image {
          height: 45px;
          margin-right: 12px;
        }

        h3,
        p {
          color: #122c64;
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 4px;
        }
      }
    }
  }
}

.btn-cancel-booking {
  font-size: 20px;
  font-weight: 300;
  color: #9f9f9f;

  &:hover {
    color: #9f9f9f;
    text-decoration: #9f9f9f underline;
  }
}
