.navbar .navbar-nav li span {
  font-size: 18px;
  font-weight: 300;
}

.section-details-content .card-details .attendee thead,
.section-details-content .card-details .attendee tbody {
  font-size: 18px;
  color: #122c64;
}

.section-details-content .card-details .attendee thead {
  font-weight: 200;
}

.section-details-content .card-details .attendee tbody {
  font-weight: 400;
}

.section-details-content .card-details .attendee tbody a {
  color: #122c64;
}

.section-details-content .card-details .invite-member h2 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 50px;
}

.section-details-content .card-details form input,
.section-details-content .card-details form select {
  color: #122c64;
}

.section-details-content .card-details .disclaimer-heading {
  font-size: 14px;
  font-weight: 600;
  margin: 20px 0 4px 0;
}

.section-details-content .card-details .disclaimer {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}

.section-details-content .card-details .gj-datepicker .datepicker {
  border-right: 0;
}

.section-details-content .card-details .gj-datepicker .input-group-append .btn {
  padding-right: 30px;
}

.section-details-content .card-details .btn-add-now {
  background-color: #122c64;
  color: white;
  font-size: 18px;
}

.section-details-content .card-details .btn-add-now:hover {
  background-color: #29498f;
  color: #ffffff;
}

.section-details-content .card-details .trip-information tr .custom-text {
  color: #122c64;
  font-weight: 600;
}

.section-details-content .card-details .trip-information tr .custom-text span {
  color: #fb8529;
}

.section-details-content .card-details .payment-instruction {
  font-size: 14px;
  font-weight: 300;
}

.section-details-content .card-details .bank .bank-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-details-content .card-details .bank .bank-item .bank-image {
  height: 45px;
  margin-right: 12px;
}

.section-details-content .card-details .bank .bank-item h3,
.section-details-content .card-details .bank .bank-item p {
  color: #122c64;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 4px;
}

.btn-cancel-booking {
  font-size: 20px;
  font-weight: 300;
  color: #9f9f9f;
}

.btn-cancel-booking:hover {
  color: #9f9f9f;
  -webkit-text-decoration: #9f9f9f underline;
          text-decoration: #9f9f9f underline;
}
/*# sourceMappingURL=checkout.css.map */