.section-success {
  height: 85vh;

  img {
    margin-top: -20px;
    height: 350px;
  }

  h1 {
    margin-bottom: 7px;
    font-size: 26px;
    font-weight: 600;
  }

  p {
    font-size: 18px;
    font-weight: 300;
    color: #9f9f9f;
    margin-bottom: 20px;
  }

  .btn-homepage {
    font-size: 18px;
    font-weight: 600;
    background-color: #122c64;
    color: #ffffff;

    &:hover {
      background-color: #29498f;
      color: #ffffff;
    }
  }
}

@media screen and (max-width: 576px) {
  .section-success {
    img {
      height: 250px;
    }

    h1 {
      font-size: 22px;
    }

    p {
      font-size: 14px;
    }

    .btn-home-page {
      font-size: 14px;
    }
  }
}
