.section-success {
  height: 85vh;
}

.section-success img {
  margin-top: -20px;
  height: 350px;
}

.section-success h1 {
  margin-bottom: 7px;
  font-size: 26px;
  font-weight: 600;
}

.section-success p {
  font-size: 18px;
  font-weight: 300;
  color: #9f9f9f;
  margin-bottom: 20px;
}

.section-success .btn-homepage {
  font-size: 18px;
  font-weight: 600;
  background-color: #122c64;
  color: #ffffff;
}

.section-success .btn-homepage:hover {
  background-color: #29498f;
  color: #ffffff;
}

@media screen and (max-width: 576px) {
  .section-success img {
    height: 250px;
  }
  .section-success h1 {
    font-size: 22px;
  }
  .section-success p {
    font-size: 14px;
  }
  .section-success .btn-home-page {
    font-size: 14px;
  }
}
/*# sourceMappingURL=checkout-success.css.map */