.section-details-heading {
  min-height: 300px;
  background-color: #e4e6eb;
  margin-top: -68px;
}

.section-details-content {
  margin-top: -10px;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-top: -190px;
  margin-bottom: 40px;
}

.section-details-content .breadcrumb-item {
  font-size: 20px;
  font-weight: 600;
}

.section-details-content .breadcrumb-item.active {
  font-size: 20px;
  font-weight: 300;
}

.section-details-content .card-details {
  margin-top: -125px;
  padding: 30px;
  border-radius: 10px;
}

.section-details-content .card-details h1 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 4px;
}

.section-details-content .card-details h2 {
  font-size: 20px;
  font-weight: 600;
}

.section-details-content .card-details p {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 24px;
  color: #9f9f9f;
}

.section-details-content .card-details .about {
  font-size: 18px;
  line-height: 30px;
}

.section-details-content .features {
  margin-top: 1rem;
}

.section-details-content .features .features-image {
  width: 45px;
  height: 45px;
  margin-right: 12px;
}

.section-details-content .features .features-custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-details-content .features h3,
.section-details-content .features p {
  font-weight: 300;
}

.section-details-content .features h3 {
  font-size: 18px;
  margin-bottom: 0;
}

.section-details-content .features p {
  font-size: 14px;
}

.section-details-content .gallery .xzoom-container {
  display: block;
}

.section-details-content .gallery .xzoom-container .xzoom {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 24px;
}

.section-details-content .gallery .xactive {
  border: 4px solid #1abc9c;
}

.card-right {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.card-right h2 {
  font-size: 20px;
  font-weight: 600;
}

.card-right .trip-information th,
.card-right .trip-information td {
  font-size: 18px;
  font-weight: 300;
}

.card-right .trip-information td {
  color: #9f9f9f;
}

.members .member-image {
  width: 40px;
  height: 40px;
}

.btn-join-now {
  background-color: #fb8529;
  color: white;
  font-size: 22px;
  font-weight: 600;
  border-radius: 0 0 10px 10px;
}

.btn-join-now:hover {
  background-color: #ffa45e;
  color: #ffffff;
}

@media screen and (max-width: 991px) {
  .card-right {
    margin-top: 30px !important;
  }
}

@media screen and (max-width: 576px) {
  .section-details-content .card-details h1 {
    font-size: 20px;
  }
  .section-details-content .card-details h2 {
    font-size: 18px;
  }
  .section-details-content .card-details p {
    font-size: 22px;
  }
  .section-details-content .card-details .about {
    font-size: 14px;
  }
  .section-details-content .card-details .gallery .xzoom-thumbs .xzoom-gallery:first-child {
    margin-left: 0;
  }
  .section-details-content .features h3 {
    font-size: 16px;
  }
  .section-details-content .features p {
    font-size: 12px;
  }
  .card-right h2 {
    font-size: 18px;
  }
}
/*# sourceMappingURL=details.css.map */