.section-details-heading {
  min-height: 300px;
  background-color: #e4e6eb;
  margin-top: -68px;
}

.section-details-content {
  margin-top: -10px;

  .breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-top: -190px;
    margin-bottom: 40px;
  }

  .breadcrumb-item {
    font-size: 20px;
    font-weight: 600;

    &.active {
      font-size: 20px;
      font-weight: 300;
    }
  }

  .card-details {
    margin-top: -125px;
    padding: 30px;
    border-radius: 10px;

    h1 {
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 4px;
    }

    h2 {
      font-size: 20px;
      font-weight: 600;
    }

    p {
      font-size: 26px;
      font-weight: 300;
      margin-bottom: 24px;
      color: #9f9f9f;
    }

    .about {
      font-size: 18px;
      line-height: 30px;
    }
  }

  .features {
    margin-top: 1rem;

    .features-image {
      width: 45px;
      height: 45px;
      margin-right: 12px;
    }

    .features-custom {
      display: flex;
    }

    h3,
    p {
      font-weight: 300;
    }

    h3 {
      font-size: 18px;
      margin-bottom: 0;
    }

    p {
      font-size: 14px;
    }
  }

  .gallery {
    .xzoom-container {
      display: block;

      .xzoom {
        width: 100%;
        box-shadow: none;
        margin-bottom: 24px;
      }
    }

    .xactive {
      border: 4px solid #1abc9c;
    }
  }
}

.card-right {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;

  h2 {
    font-size: 20px;
    font-weight: 600;
  }

  .trip-information {
    th,
    td {
      font-size: 18px;
      font-weight: 300;
    }

    td {
      color: #9f9f9f;
    }
  }
}

.members {
  .member-image {
    width: 40px;
    height: 40px;
  }
}

.btn-join-now {
  background-color: #fb8529;
  color: white;
  font-size: 22px;
  font-weight: 600;
  border-radius: 0 0 10px 10px;

  &:hover {
    background-color: #ffa45e;
    color: #ffffff;
  }
}

@media screen and (max-width: 991px) {
  .card-right {
    margin-top: 30px !important;
  }
}

@media screen and (max-width: 576px) {
  .section-details-content {
    .card-details {
      h1 {
        font-size: 20px;
      }

      h2 {
        font-size: 18px;
      }

      p {
        font-size: 22px;
      }

      .about {
        font-size: 14px;
      }

      .gallery {
        .xzoom-thumbs {
          .xzoom-gallery:first-child {
            margin-left: 0;
          }
        }
      }
    }

    .features {
      h3 {
        font-size: 16px;
      }

      p {
        font-size: 12px;
      }
    }
  }

  .card-right {
    h2 {
      font-size: 18px;
    }
  }
}
