body {
  font-family: "Assistant", sans-serif;
  color: #122c64;
}

@media screen and (min-width: 992px) {
  .login-container {
    background: -webkit-gradient(linear, left top, right top, color-stop(65%, #fff), color-stop(35%, #e4e6eb));
    background: linear-gradient(90deg, #fff 65%, #e4e6eb 35%);
    width: 100vw;
    height: 100vh;
  }
}

.page-login .section-left {
  margin-left: 50px;
}

.page-login .section-left h1 {
  margin: 40px 0 30px;
  font-family: "Merriweather", serif;
  font-size: 40px;
  font-weight: bold;
  color: #122c64;
}

.page-login .section-left img {
  width: 75%;
}

.page-login .section-right {
  margin-top: 75px;
}

.page-login .section-right .card {
  max-width: 320px;
}

.page-login .section-right img {
  max-width: 150px;
  margin-bottom: 40px;
}

.page-login .section-right label {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 6px;
}

.page-login .section-right .btn-login {
  margin-top: 40px;
  margin-bottom: 16px;
  background-color: #fb8529;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
}

.page-login .section-right .btn-login:hover {
  color: #ffffff;
  background-color: #ffa45e;
}

.page-login .section-right .btn-forgot {
  margin-bottom: 0;
}

.page-login .section-right .btn-forgot a {
  font-size: 16px;
  font-weight: 300;
  color: #9f9f9f;
}

.page-login .section-right .btn-forgot a:hover {
  color: #9f9f9f;
  -webkit-text-decoration: #9f9f9f underline;
          text-decoration: #9f9f9f underline;
}

.page-login .section-right .btn-register {
  margin-bottom: 0;
}

.page-login .section-right .btn-register a {
  font-size: 16px;
  font-weight: 300;
  color: #9f9f9f;
}

.page-login .section-right .btn-register:hover {
  color: #9f9f9f;
  -webkit-text-decoration: #9f9f9f underline;
          text-decoration: #9f9f9f underline;
}

@media screen and (max-width: 992px) {
  .page-login .section-left {
    margin-left: 0;
  }
  .page-login .section-left h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 768px) {
  .page-login .section-left h1 {
    text-align: center;
  }
  .page-login .section-left img {
    width: 100%;
  }
  .page-login .section-right {
    margin-top: 40px;
  }
  .page-login .section-right .card {
    max-width: 510px;
  }
}
/*# sourceMappingURL=login.css.map */