body {
    font-family: "Assistant", sans-serif;
    color: #122c64;
}

.login-container {
    @media screen and (min-width: 992px) {
        background: linear-gradient(90deg, #fff 65%, #e4e6eb 35%);
        width: 100vw;
        height: 100vh;
    }
}

.page-login {
    .section-left {
        margin-left: 50px;

        h1 {
            margin: 40px 0 30px;
            font-family: "Merriweather", serif;
            font-size: 40px;
            font-weight: bold;
            color: #122c64;
        }

        img {
            width: 75%;
        }
    }

    .section-right {
        margin-top: 75px;

        .card {
            max-width: 320px;
        }

        img {
            max-width: 150px;
            margin-bottom: 40px;
        }

        label {
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 6px;
        }

        .btn-login {
            margin-top: 40px;
            margin-bottom: 16px;
            background-color: #fb8529;
            color: #ffffff;
            font-weight: 600;
            font-size: 20px;

            &:hover {
                color: #ffffff;
                background-color: #ffa45e;
            }
        }

        .btn-forgot {
            margin-bottom: 0;

            a {
                font-size: 16px;
                font-weight: 300;
                color: #9f9f9f;

                &:hover {
                    color: #9f9f9f;
                    text-decoration: #9f9f9f underline;
                }
            }
        }

        .btn-register {
            margin-bottom: 0;

            a {
                font-size: 16px;
                font-weight: 300;
                color: #9f9f9f;
            }

            &:hover {
                color: #9f9f9f;
                text-decoration: #9f9f9f underline;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .page-login {
        .section-left {
            margin-left: 0;

            h1 {
                font-size: 32px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .page-login {
        .section-left {
            h1 {
                text-align: center;
            }

            img {
                width: 100%;
            }
        }

        .section-right {
            margin-top: 40px;

            .card {
                max-width: 510px;
            }
        }
    }
}
