body {
  background-color: #ffffff;
  color: #122c64;
  font-family: "Assistant", sans-serif;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #122c64;
  font-size: 20px;
  font-weight: 400;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #122c64 !important;
  font-weight: bold;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 70px;
  width: 7.5rem;
  border-radius: 0;
}

.btn-login {
  background-color: #122c64;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.8px;
}

.btn-login:hover {
  background-color: #29498f;
  color: #ffffff;
}

header {
  padding: 10rem 0 124px 0;
  background: url(/frontend/img/banner.jpg) no-repeat center/cover;
  margin-top: -68px;
}

header h1,
header p {
  font-family: "Merriweather", serif;
  color: #ffffff;
}

header h1 {
  font-weight: bold;
  font-size: 50px;
}

header p {
  font-weight: 400;
  font-size: 22px;
}

header .btn-get-started {
  background-color: #fb8529;
  color: #ffffff;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.8px;
  height: 45px;
  width: 170px;
}

header .btn-get-started:hover {
  color: #ffffff;
  background-color: #ffa45e;
}

.section-stats {
  margin-top: -50px;
}

.section-stats .stats-detail {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 35px;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-stats .stats-detail:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.section-stats .stats-detail:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.section-stats h2 {
  font-size: 1.875rem;
  font-weight: 600;
  margin: 0;
}

.section-stats p {
  font-size: 1.25rem;
  font-weight: 300;
  margin-top: 2px;
  margin-bottom: 0;
}

.section-popular {
  min-height: 526px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0f1d3c), to(#5c667a));
  background: linear-gradient(#0f1d3c, #5c667a);
  margin-top: -51px;
  margin-bottom: -230px;
}

.section-popular .section-popular-heading {
  margin-top: 150px;
}

.section-popular .section-popular-heading h2,
.section-popular .section-popular-heading p {
  font-family: "Merriweather", serif;
  color: #ffffff;
}

.section-popular .section-popular-heading h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 3px;
}

.section-popular .section-popular-heading p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 37px;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 400px;
  background-color: #000000;
  color: white;
  border-radius: 15px;
  padding: 30px;
  background-size: cover;
  background-position: center;
  margin-top: -20px;
}

.section-popular-content .section-popular-travel .travel-country {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 2px;
}

.section-popular-content .section-popular-travel .travel-location {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.1;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details {
  font-weight: 600;
  background-color: #fb8529;
  color: #ffffff;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details:hover {
  background-color: #ffa45e;
  color: #ffffff;
}

.section-networks {
  background-color: #ffffff;
  margin-top: -180px;
  padding-top: 240px;
  padding-bottom: 90px;
}

.section-networks h2,
.section-networks p {
  font-family: "Merriweather", serif;
}

.section-networks h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0;
}

.section-networks p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}

.section-networks .img-partner {
  width: 100%;
}

.section-testimonial-heading {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f7f9ff));
  background: linear-gradient(#ffffff, #f7f9ff);
  min-height: 500px;
}

.section-testimonial-heading h2 {
  font-family: "Merriweather", serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.section-testimonial-heading p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 70px;
  line-height: 1.1;
}

.section-testimonial-content {
  margin-top: -328px;
}

.section-testimonial-content .card-testimonial {
  padding: 40px 20px 10px;
  border-radius: 11px;
  margin-bottom: 30px;
}

.section-testimonial-content .card-testimonial .testimonial-content {
  min-height: 380px;
}

.section-testimonial-content .card-testimonial h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.section-testimonial-content .card-testimonial .testimonial {
  font-weight: 200;
  font-size: 26px;
  line-height: 30px;
  color: #5d5d5d;
  min-height: 150px;
}

.section-testimonial-content .card-testimonial .trip-to {
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;
  color: #5d5d5d;
}

.section-testimonial-content .btn-need-help {
  font-size: 22px;
  font-weight: 400;
  border: 1px solid #707070;
}

.section-testimonial-content .btn-need-help:hover {
  background-color: #b3b3b3;
}

.section-testimonial-content .btn-get-started {
  font-size: 22px;
  font-weight: 600;
  background-color: #fb8529;
  color: #ffffff;
}

.section-testimonial-content .btn-get-started:hover {
  background-color: #ffa45e;
  color: #ffffff;
}

.section-footer {
  margin-top: 100px;
}

.section-footer h5 {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.section-footer li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #122c64;
}

.section-footer li a:hover {
  font-weight: 600;
}

.section-footer .copyright {
  margin-top: 25px;
  font-size: 20px;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  header h1 {
    font-size: 40px;
  }
  header p {
    font-size: 18px;
  }
  .section-popular .section-popular-heading h2 {
    font-size: 26px;
  }
  .section-popular .section-popular-heading p {
    font-size: 18px;
  }
  .section-popular-content .section-popular-travel .card-travel {
    margin-top: 15px;
  }
  .section-popular .section-popular-heading p {
    margin-bottom: 25px;
  }
  .section-networks h2 {
    font-size: 26px;
  }
  .section-networks p {
    font-size: 12px;
  }
  .section-testimonial-heading h2 {
    font-size: 30px;
  }
  .section-testimonial-heading p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .section-stats .stats-detail:first-child {
    border-bottom-left-radius: 0;
  }
  .section-stats .stats-detail:nth-child(2) {
    border-top-right-radius: 10px;
  }
  .section-stats .stats-detail:nth-child(3) {
    border-bottom-left-radius: 10px;
  }
  .section-stats .stats-detail:nth-child(4) {
    border-top-right-radius: 0;
  }
  .section-footer h5 {
    font-size: 18px;
  }
  .section-footer li a {
    font-size: 14px;
  }
  .section-footer .copyright {
    font-size: 16px;
  }
}
/*# sourceMappingURL=main.css.map */