body {
  background-color: #ffffff;
  color: #122c64;
  font-family: "Assistant", sans-serif;
}

// navbar
.navbar-brand {
  img {
    max-height: 40px;
  }
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: #122c64;
      font-size: 20px;
      font-weight: 400;

      &.active {
        color: #122c64 !important;
        font-weight: bold;
      }
    }
  }
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 70px;
  width: 7.5rem;
  border-radius: 0;
}

.btn-login {
  background-color: #122c64;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.8px;

  &:hover {
    background-color: #29498f;
    color: #ffffff;
  }
}

// Header
header {
  padding: 10rem 0 124px 0;
  background: url(/frontend/img/banner.jpg) no-repeat center/cover;
  margin-top: -68px;

  h1,
  p {
    font-family: "Merriweather", serif;
    color: #ffffff;
  }

  h1 {
    font-weight: bold;
    font-size: 50px;
  }

  p {
    font-weight: 400;
    font-size: 22px;
  }

  .btn-get-started {
    background-color: #fb8529;
    color: #ffffff;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0.8px;
    height: 45px;
    width: 170px;

    &:hover {
      color: #ffffff;
      background-color: #ffa45e;
    }
  }
}

// statistik
.section-stats {
  margin-top: -50px;

  .stats-detail {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 35px;
    background-color: #ffffff;
    box-sizing: border-box;

    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  h2 {
    font-size: 1.875rem;
    font-weight: 600;
    margin: 0;
  }

  p {
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 2px;
    margin-bottom: 0;
  }
}

// Wisata Popular Section
.section-popular {
  min-height: 526px;
  background: linear-gradient(#0f1d3c, #5c667a);
  margin-top: -51px;
  margin-bottom: -230px;

  .section-popular-heading {
    margin-top: 150px;

    h2,
    p {
      font-family: "Merriweather", serif;
      color: #ffffff;
    }

    h2 {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 3px;
    }

    p {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 37px;
    }
  }
}

.section-popular-content {
  .section-popular-travel {
    .card-travel {
      min-height: 400px;
      background-color: #000000;
      color: white;
      border-radius: 15px;
      padding: 30px;
      background-size: cover;
      background-position: center;
      margin-top: -20px;
    }

    .travel-country {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 2px;
    }

    .travel-location {
      font-size: 26px;
      font-weight: 600;
      line-height: 1.1;
    }

    .travel-button {
      .btn-travel-details {
        font-weight: 600;
        background-color: #fb8529;
        color: #ffffff;

        &:hover {
          background-color: #ffa45e;
          color: #ffffff;
        }
      }
    }
  }
}

.section-networks {
  background-color: #ffffff;
  margin-top: -180px;
  padding-top: 240px;
  padding-bottom: 90px;

  h2,
  p {
    font-family: "Merriweather", serif;
  }

  h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
  }

  p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
  }

  .img-partner {
    width: 100%;
  }
}

.section-testimonial-heading {
  background: linear-gradient(#ffffff, #f7f9ff);
  min-height: 500px;

  h2 {
    font-family: "Merriweather", serif;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 70px;
    line-height: 1.1;
  }
}

.section-testimonial-content {
  margin-top: -328px;

  .card-testimonial {
    padding: 40px 20px 10px;
    border-radius: 11px;
    margin-bottom: 30px;

    .testimonial-content {
      min-height: 380px;
    }

    h3 {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .testimonial {
      font-weight: 200;
      font-size: 26px;
      line-height: 30px;
      color: #5d5d5d;
      min-height: 150px;
    }

    .trip-to {
      font-weight: normal;
      font-size: 22px;
      line-height: 25px;
      color: #5d5d5d;
    }
  }

  .btn-need-help {
    font-size: 22px;
    font-weight: 400;
    border: 1px solid #707070;

    &:hover {
      background-color: #b3b3b3;
    }
  }

  .btn-get-started {
    font-size: 22px;
    font-weight: 600;
    background-color: #fb8529;
    color: #ffffff;

    &:hover {
      background-color: #ffa45e;
      color: #ffffff;
    }
  }
}

.section-footer {
  margin-top: 100px;

  h5 {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  li {
    a {
      text-decoration: none;
      font-size: 20px;
      font-weight: 400;
      color: #122c64;

      &:hover {
        font-weight: 600;
      }
    }
  }

  .copyright {
    margin-top: 25px;
    font-size: 20px;
    font-weight: 300;
  }
}

// Media Queries
@media screen and (max-width: 768px) {
  header {
    h1 {
      font-size: 40px;
    }

    p {
      font-size: 18px;
    }
  }

  .section-popular {
    .section-popular-heading {
      h2 {
        font-size: 26px;
      }

      p {
        font-size: 18px;
      }
    }
  }

  .section-popular-content {
    .section-popular-travel {
      .card-travel {
        margin-top: 15px;
      }
    }
  }

  .section-popular {
    .section-popular-heading {
      p {
        margin-bottom: 25px;
      }
    }
  }

  .section-networks {
    h2 {
      font-size: 26px;
    }

    p {
      font-size: 12px;
    }
  }

  .section-testimonial-heading {
    h2 {
      font-size: 30px;
    }

    p {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 576px) {
  .section-stats {
    .stats-detail {
      &:first-child {
        border-bottom-left-radius: 0;
      }

      &:nth-child(2) {
        border-top-right-radius: 10px;
      }

      &:nth-child(3) {
        border-bottom-left-radius: 10px;
      }

      &:nth-child(4) {
        border-top-right-radius: 0;
      }
    }
  }

  .section-footer {
    h5 {
      font-size: 18px;
    }

    li {
      a {
        font-size: 14px;
      }
    }

    .copyright {
      font-size: 16px;
    }
  }
}
